* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
main {
  width: 100vw;
  height: 100vh;
  background: rgb(48, 48, 48);
}
.container {
  margin: auto;
  max-width: calc(100% - 100px);
  padding: 40px 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-block {
  width: 100%;
  height: 100%;
  background: #fff;
}
