* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
main {
  width: 100vw;
  height: 100vh;
  background: rgb(48, 48, 48);
}
.container {
  margin: auto;
  max-width: 1440px;
  width: calc(100% - 40px);
  padding: 20px 0 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-block {
  width: 100%;
  height: 100%;
}
.flex-column-orient {
  display: flex;
  flex-direction: column;
}
.slider-radio {
  display: none;
}
.slider-top-block {
  width: 100%;
  height: 85%;
  margin-bottom: 3%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  overflow-y: hidden;
  position: relative;
}
.slider-top-block-img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  left: 30%;
  transition: all 0.3s ease;
}

#slide1:checked ~ .slider-top-block > .slider-img-1 {
  background-image: url("./assets/img/cat1.jpeg");
  opacity: 1;
  left: 0;
  transition: all 0.3s ease;
}
#slide2:checked ~ .slider-top-block > .slider-img-2 {
  background-image: url("./assets/img/cat2.jpeg");
  opacity: 1;
  left: 0;
  transition: all 0.3s ease;
}
#slide3:checked ~ .slider-top-block > .slider-img-3 {
  background-image: url("./assets/img/cat3.jpeg");
  opacity: 1;
  left: 0;
  transition: all 0.3s ease;
}
#slide4:checked ~ .slider-top-block > .slider-img-4 {
  background-image: url("./assets/img/cat1.jpeg");
  opacity: 1;
  left: 0;
  transition: all 0.3s ease;
}

.slider-top-img {
  display: block;
  width: 100%;
}

.slider-bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.slider-text-block {
  position: relative;
}
.slider-text {
  position: absolute;
  left: -30%;
  top: 0;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.slider-text:hover {
  cursor: text;
}

#slide1:checked ~ .slider-text-block > .slider-text-1 {
  opacity: 1;
  left: 0;
}
#slide2:checked ~ .slider-text-block > .slider-text-2 {
  opacity: 1;
  left: 0;
}
#slide3:checked ~ .slider-text-block > .slider-text-3 {
  opacity: 1;
  left: 0;
}
#slide4:checked ~ .slider-text-block > .slider-text-4 {
  opacity: 1;
  left: 0;
}
#slide1:checked ~ .slider-text-block > .slider-text-1::after {
  position: absolute;
  left: 0;
}
.slider-control-block {
  display: flex;
  justify-content: end;
}
.slider-control-link {
  display: block;
  padding: 10px;
  cursor: pointer;
}
input:checked .slider-control-link {
  display: block;
  padding: 10px;
  cursor: pointer;
}
#slide1:checked
  ~ .slider-control-block
  > .slider-control-link
  > .control-circle-1,
#slide2:checked
  ~ .slider-control-block
  > .slider-control-link
  > .control-circle-2,
#slide3:checked
  ~ .slider-control-block
  > .slider-control-link
  > .control-circle-3,
#slide4:checked
  ~ .slider-control-block
  > .slider-control-link
  > .control-circle-4 {
  background: transparent;
  border: 1px solid cornflowerblue;
}
#slide1:checked
  ~ .slider-control-block
  > .slider-control-link:hover
  > .control-circle-1,
#slide2:checked
  ~ .slider-control-block
  > .slider-control-link:hover
  > .control-circle-2,
#slide3:checked
  ~ .slider-control-block
  > .slider-control-link:hover
  > .control-circle-3,
#slide4:checked
  ~ .slider-control-block
  > .slider-control-link:hover
  > .control-circle-4 {
  background: transparent;
  border: 1px solid #fff;
}
.slider-control-circle {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: cornflowerblue;
}

.slider-control-link:hover .slider-control-circle {
  background: #fff;
  transition: background 0.3s ease-in-out;
}
